body {
  background-image: url('https://images.pexels.com/photos/3933881/pexels-photo-3933881.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}
#body {
  position: absolute;
  width: 60%;
  left: 20%;
  right: 20%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
header {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0px;
}
h1#Name {
  font-size: 36px;
  font-family: 'Ubuntu', Georgia, sans-serif;
  color: #dddddd;
}
nav {
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-family: 'FiraCode Nerd Font Mono', Monospace;
  background-color: #000000;
  border-radius: 8px;
}
nav ul {
  list-style-type: none;
  height: 0px;
  margin: 0px;
  padding: 0px;
}
nav ul li {
  position: relative;
  display: inline;
  float: left;
  padding: 0px;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #fc8000;
  padding: 8px 20px 8px 20px;
}
nav ul li a:hover {
  color: #b20000;
  background-color: #111111;
}
#c {
  color: #dddddd;
}
#content h2 {
  font-size: 24px;
  font-family: 'Ubuntu', Calibre, sans-serif;
  color: #dddddd;
  padding: 4px;
}
#content p {
  font-size: 16px;
  font-family: 'Times New Roman', serif;
  color: #dddddd;
  padding: 4px;
}
#content a {
  color: #fc8000;
  text-decoration: none;
}
.games {
  font-family: 'Ubuntu', Calibre, sans-serif;
  font-size: 30px;
  color: #dddddd;
  text-align: center;
}
table.projects {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0px;
  border: 0px;
}
#space {
  width: 24px;
}
#navdown {
  height: 100%;
  background: rgba(68, 68, 68, 0.7);
}
table.projects {
  width: 100%;
}
.projects tr td {
  width: 33%;
}
.projects tr td p {
  font-family: 'Courgette', sans-serif;
  font-size: 24px;
  text-align: center;
}
.projects tr td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.info {
  text-align: justify;
}
#A {
  font-size: 24px;
  font-family: 'Ubuntu', Calibre, sans-serif;
  color: #dddddd;
  padding: 4px;
}
#photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
